- name: Install MySQL Server 8.0.x
  ansible.builtin.dnf:
    name: mysql-server
    state: installed

- name: Systemd Restart
  ansible.builtin.systemd_service:
    name: mysqld
    state: started
    enabled: yes

- name: Check if password exists
  ansible.builtin.shell: echo 'show databases' |  mysql -h mysql-dev.makemyhomesmart.co.uk -uroot -pExpenseApp@1
  register: check1
  ignore_errors: yes

#- name: Debug
#  ansible.builtin.debug:
#    msg: "{{ check1 }}"

- name: Setup MySql Password
  ansible.builtin.shell: mysql_secure_installation --set-root-pass ExpenseApp@1
  when: check1.rc == 1